/* custom variables */
:root {
  /* primary colors */
  --clr-gradient1: hsl(236, 72%, 79%);
  --clr-gradient2: hsl(237, 63%, 64%);

  /* neutral colors */
  --clr-dark-grayish-blue: hsl(232, 13%, 33%);
  --clr-grayish-blue: hsl(233, 13%, 49%);
  --clr-light-grayish-blue: hsl(234, 14%, 74%);
  --clr-very-light-grayish-blue: hsl(240, 78%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  
  --clr-light-grayish-blue-body: hsl(207, 33%, 98%);
  --clr-grayish-blue-a: hsla(231, 7%, 65%, 0.5);

  /* box shadow colors */
  --clr-bs: hsla(233, 13%, 49%, 0.2);

  /* typography */
  --ff: 'Montserrat', sans-serif;

  --fs-title-mobile: 3.2rem;
  --fs-normal-mobile: 1.5rem;
  --fs-h1-mobile: 7rem;
  --fs-h2-mobile: 1.8rem;
  --fs-dollar-mobile: 4rem;
  --fs-button-mobile: 1.3rem;

  --fs-CTA-mobile: 1.375rem;

  --fs-normal-desktop: 1.5rem;
  --fs-nav-desktop: 1.6rem;
  --fs-h1-desktop: 6.4rem;
  --fs-CTA-desktop: 1.63rem;

  --fw-bold: 700;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* set-up */
body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
}

.pricing {
  position: relative;
  width: 37.5rem;
  height: 175rem;
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-normal-mobile);
  color: var(--clr-grayish-blue);
  background-color: var(--clr-very-light-grayish-blue);
  background-image: url(./images/bg-top.svg);
  background-position: 19.3rem -4rem;
  background-repeat: no-repeat;
  /* box-shadow: 0 0 1rem var(--clr-bs); */
  border: 1px solid red;
}

@media (min-width: 65em) {
  body {
    font-size: var(--fs-normal-desktop);
  }

  .pricing {
    width: 144rem;
    height: 85rem;
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-position: 50% top, 50% bottom;
    background-repeat: no-repeat, no-repeat;
  }
}

.pricing__title {
  margin-top: 6.3rem;
  font-size: var(--fs-title-mobile);
  text-align: center;
}

.pricing__switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-top: 4rem;
  color: var(--clr-light-grayish-blue);

  margin-bottom: 4rem;
}

.pricing__switch {
  position: relative;
  width: 5.6rem;
  height: 3.2rem;
  background-color: var(--clr-gradient2);
  background: linear-gradient(var(--clr-gradient1), var(--clr-gradient2));
  border-radius: 1.5rem;
}

.pricing__switch--annually,
.pricing__switch--monthly {
  position: absolute;
  top: 0.4rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--clr-white);
  border-radius: 50%;
  z-index: 1;
}

.pricing__switch--annually {
  left: 0.5rem;
}

.pricing__switch--monthly {
  right: 0.5rem;
}

.pricing__block-container {
  margin-top: 8rem;
}

.pricing__block--white,
.pricing__block--blue {
  width: 32.8rem;
  height: 45.2rem;
  margin: 0 auto;
  padding: 3.4rem 0;
  text-align: center;
  background-color: var(--clr-white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--clr-bs);
}

.pricing__block--white:not(:first-child),
.pricing__block--blue:not(:first-child) {
  margin-top: 3.35rem;
}

.pricing__block--blue {
  color: var(--clr-white);
  background: linear-gradient(var(--clr-gradient1), var(--clr-gradient2));
}

.pricing__block-name {
  font-size: var(--fs-h2-mobile);
}

.pricing__block-price {
  margin-top: 1.8rem;
  padding-left: 1rem;
  font-size: var(--fs-h1-mobile);
  color: var(--clr-dark-grayish-blue);
}

.pricing__block--blue .pricing__block-price {
  color: var(--clr-white);
}

.pricing__block-price::before {
  content: '$';
  position: relative;
  bottom: 0.9rem;
  right: 0.3rem;
  font-size: var(--fs-dollar-mobile);
}

.pricing__block-text-container {
  margin: 2.5rem 3rem 0;
  border-top: 0.1rem solid var(--clr-light-grayish-blue);
}

.pricing__block-text {
  padding: 1.6rem 0 1.7rem;
  border-bottom: 0.1rem solid var(--clr-light-grayish-blue);
}

.pricing__block-button {
  width: 27rem;
  margin-top: 3.2rem;
  padding: 1.4rem 0;
  font-family: var(--ff);
  font-size: var(--fs-button-mobile);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background-color: var(--clr-gradient2);
  background: linear-gradient(var(--clr-gradient1), var(--clr-gradient2));
  border: none;
  border-radius: 0.5rem;
}

.pricing__block--blue .pricing__block-button {
  color: var(--clr-gradient2);
  background: none;
  background-color: var(--clr-white);
}

.pricing__block-button:hover {
  color: var(--clr-gradient2);
  background-color: transparent;
  background: none;
  border: 0.1rem solid var(--clr-light-grayish-blue);
}

.pricing__block--blue .pricing__block-button:hover {
  color: var(--clr-white);
  background-color: transparent;
}

/* attribution */
.attribution {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}